.main-bar {
	border-bottom: 1px solid #e7ecf1;
	position: relative;
	padding: 25px 20px;
	margin: 0 -20px;
	> .menu-wrapper {
		height: inherit;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		> .save {
			float: right;
			> .icon:before {
				font-family: "simple-line-icons";
				content: "\e05f";
				font-size: 14px;
				padding-left: 5px;
			}
		} 

		> .logout {
			float: right;
			> .icon:before {
				font-family: "simple-line-icons";
				content: "\e065";
				font-size: 14px;
				padding-left: 5px;
			}
		}

		> .newcontact {
			float: right;
			> .icon:before {
				font-family: "simple-line-icons";
				content: "\e606";
				font-size: 10px;
				padding-left: 5px;
				}

			&._toggled {
				> .icon:before {
				content: "\e604";
				}
			}
		}

		> .action-menu {
		position: absolute;
		display: none;
		z-index: 2;
		background-color: #fff;
		border: 1px solid #32c5d2;
		> .item {
			color: #32c5d2;
			transition: .35s ease;
			cursor: pointer;
			padding: 10px 20px;
			&:hover {
				background-color: #e7ecf1;
			}
		}
		}
		> .title {
			font-size: 24px;
			color: #666;
			letter-spacing: -1px;
			font-weight: 400;
			float: left;
			width: 55%;
			> .subtitle {
				font-size: 14px;
	    	letter-spacing: 0;
	    	font-weight: 300;
			}
		}
		> .search {
			float: right;
			margin-right: 20px;
		}
		> .actions {
			float: right;
		}
		&:after {
			content: " ";
			display: table;
			clear: both;
		}
	}
}